:root {
  --yellow: #FFB21E;
  --blue: #1125D6;
  --green: #00BB8F;
  --red: #FF5555;
  --dark-navy: #303B59;
  --light-blue: #CAC9FF;
  --very-light-blue: #ECF2FF;
  --white: #FFF;

  --red-50: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
  --yellow-50: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
  --green-50: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
  --blue-50: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;

  
  --gradient-1: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
  --gradient-2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 
  100%, rgba(37, 33, 201, 0) 100%);
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--very-light-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}