.cards {
    display: flex;

    width: 46rem;
    height: 512px;

    background: var(--white);
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 32px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    height: 100%;

    padding: 2.375rem 3.375rem 2.875rem;

    background: var(--gradient-1);
    border-radius: 32px;
}

.results__title {
    color: var(--light-blue);
    line-height: 31px;
}

.results__score-container {
    width: 12.5rem;
    height: 12.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: var(--gradient-2);
    border-radius: 50%;
}

.results__score {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 4.5rem;

    color: var(--white);
}

.results__max-score {
    font-size: 1.125rem;
    font-weight: 700;

    color: var(--light-blue);
    opacity: 0.52;
}

.results__result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem;
}

.results__result-title {
    font-size: 2rem;
    line-height: 42px;

    color: var(--white);
}

.results__result-message {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 23px;

    color: var(--light-blue);
    text-align: center;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    padding: 2.375rem 2.5rem 2.875rem;
}

.summary__title {
    line-height: 31px;
    color: var(--dark-navy);
}

.summary__items {
    list-style: none;
}

.summary__item {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding-inline: 1rem;
}

.summary__item + .summary__item {
    margin-top: 1rem;
}

.summary__item--red {
    background: var(--red-50);
    color: var(--red);
}

.summary__item--yellow {
    background: var(--yellow-50);
    color: var(--yellow);
}

.summary__item--green {
    background: var(--green-50);
    color: var(--green);
}

.summary__item--blue {
    background: var(--blue-50);
    color: var(--blue);
}

.summary__item-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.summary__score {
    color: var(--dark-navy);
    font-size: 1.125rem;
    font-weight: 800;
}

.summary__score--low-opacity {
    opacity: 0.5;
}

.summary__btn {
    width: 100%;
    height: 3.5rem;

    font-size: 1.125rem;
    font-weight: 700;

    background: var(--dark-navy);
    border-radius: 128px;
    color: var(--white);
    cursor: pointer;
    transition: all 0.9s;
}

.summary__btn:hover {
   background: var(--gradient-1);
}

@media(max-width: 768px) {
    .cards {
        flex-direction: column;
        width: min(420px, 100%);
        height: unset;
    }

    .results {
        width: 100%;
        padding: 1.5rem 3.625rem 2.5rem;
        border-radius: 0 0 32px 32px;
    }

    .results__title,
    .summary__title {
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }

    .results__score-container {
        width: 8.75rem;
        height: 8.75rem;
        margin-bottom: 1.5rem;
    }

    .results__score {
        font-size: 3.5rem;
    }

    .results__max-score {
        font-size: 1rem;
    }

    .results__result-container {
        gap: 0.5rem;
    }

    .results__result-title {
        font-size: 1.5rem;
    }

    .results__result-message {
        font-size: 1rem;
    }

    .summary {
        width: 100%;
        padding: 1.5rem 1.875rem 1.875rem;
    }

    .summary__item-title,
    .summary__score {
        font-size: 1rem;
    }

    .summary__items {
        margin-bottom: 1.5rem;
    }
}